# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
frontend/node_modules/

# Build outputs
dist/
frontend/dist/
dist-ssr/
frontend/dist-ssr/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Local env files
*.local
